<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Goziem Abuah Matt Kanemy Samir Hoque Souradeep Saha">
  <meta name="description" content="Infobase aims to help soldiers connect to their families at war">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#00a300">
  <meta name="msapplication-config" content="/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- Bootstrap CDN -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

  <title><%=title %></title>

  <link rel="stylesheet" href="/styles/template.css" type="text/css">
  <link rel="stylesheet" href="/styles/<%= stylesheet %>.css" type="text/css">

  
  <!-- Scripts -->
  <meta http-equiv="Content-Security-Policy" content="default-src https://polyfill.io/v3/polyfill.min.js?features=default; child-src 'none'; object-src 'none'">
  <meta http-equiv="Content-Security-Policy" content="default-src https://maps.googleapis.com/maps/api/js?key=AIzaSyDjelU1YwKuAbnbSwSbi20TXv823R2p03E&callback=initMap&libraries=&v=weekly; child-src 'none'; object-src 'none'">
  <meta http-equiv="Content-Security-Policy" content="default-src https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n; child-src 'none'; object-src 'none'">
  <meta http-equiv="Content-Security-Policy" content="default-src https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js; child-src 'none'; object-src 'none'">
  <meta http-equiv="Content-Security-Policy" content="default-src https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js; child-src 'none'; object-src 'none'">

</head>

<body>