<%- include("partials/header", {title: 'My Account', stylesheet: "account"}); %>
<%- include("partials/navbar", {authenticated: true}); %>
<link rel="stylesheet" href="/styles/index.css">

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome back, <%= User.name %>!</h1><br>
    <h5>Your account dashboard</h5>
    <h6 class="lead">Military Status: Safe<br>You have 0 unread messages<br>New predictions now available. Check out missile logs for the next missile attack time and location estimates.</h6>
  </div>
</div>

<div class="profile">

  <div class="con-cards">
    <a href="/connect">
      <div class="crd">
        <div class="con-img">
          <img src="/images/stay in touch.png" alt="">
          <!--<img class="blur" src="NicePng_connection-icon-png_2026385.png" alt="">-->
        </div>
        <div class="con-text">
          <h2>Connect</h2>
          <p>Always stay connected and certain of where your loved ones are!</p>
        </div>
      </div>
    </a>
    <a href="/logs">
      <div class="crd">
        <div class="con-img">
          <img src="/images/missle log.png" alt="">
          <!--<img class="blur" src="clipart154983.png" alt="">-->
        </div>
        <div class="con-text">
          <h2>Stay Safe</h2>
          <p>With our built in location tracker, nobody will ever get lost again!</p>
        </div>
      </div>
    </a>
  </div>
</div>

<%- include("partials/footer"); %>