<%- include("partials/header", {title: title, stylesheet: "account"}); %>
<%- include("partials/navbar", {authenticated: true}); %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome back, <%= User.name %>!</h1>
    <p class="lead">Connect with your family members for free</p>
  </div>
</div>

<div class="profile">

  <div class="card-group">
    <a href="/connect" class="crd">
      <div class="card">
        <img class="card-img-top" src="/images/Unknown.jpeg" alt="Card image cap">

        <div class="card-body">
          <h5 class="card-title">Stay in touch</h5>
          <p class="card-text">While at war, many loved ones may become lost and assumed dead. With Military Connect we have made it our goal to ensure families are always connected to their loved ones at war!</p>
        </div>
      </div>
    </a>
    <a href="/missle" class="crd">
      <div class="card">
        <img class="card-img-top" src="/images/Unknown-1.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Missle Logs</h5>
          <p class="card-text">While at home, the germans have been constantly air bombing many countries in europe. We have created an easy to use missle log allowing everyone to easily map out the hotspots and frequent times of missle attacks!</p>
        </div>
      </div>
    </a>
  </div>

</div>
