<%- include("partials/header", {title: title, stylesheet: "logs"}); %>
<%- include("partials/navbar", {authenticated: true}); %>

<div class="bg">
  <div class="title">Missile Logs</div>
  <div id="map"></div>
  <div class="button"><a href="/log" class="btn btn-success">Log Missile</a></div>
</div>
<%- include("partials/footer"); %>

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjelU1YwKuAbnbSwSbi20TXv823R2p03E&callback=initMap&libraries=&v=weekly"
  defer
></script>

<script src="javascripts/logs.js" type="text/javascript"></script>


